name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run linters and formatters
        run: mise run fix

      - name: Fail on new or modified files
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "Repository has changes after CI steps:"
            git status --short
            exit 1
          fi

  test:
    strategy:
      fail-fast: true
      matrix:
        runner: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run tests
        run: mise run test

  all-good:
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
      - run: true
